@keyframes fromLeft{
    from{
        opacity: 0%;
        transform: translateX(-200px);
    }to{
        opacity: 100%;
        transform: translateX(0px);
    }
}

@keyframes fromRight{
    from{
        opacity: 0%;
        transform: translateX(200px)
    }to{
        opacity: 100%;
        transform: translateX(0px)
    }
}


@keyframes spinner{
    from{
        transform: rotate(0deg);
        border-color: red red red transparent;
    }to{
        transform: rotate(360deg);
        border-color: blue blue blue transparent
    }
}

#loading-image{
    position: absolute;
    height: 160px;
    width: 160px;
}
.fromLeft{
    animation-name: fromLeft;
    animation-duration: .7s;
    animation-timing-function: ease-out;
}

.fromRight{
    animation-name: fromRight;
    animation-duration: .7s;
    animation-timing-function: ease-out;
}
.nav-font{
    font-family: sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
}

.navigation-link{
    border-bottom: 2px solid transparent;
}
.navigation-link:hover{
    color: orange;
    border-bottom: 2px solid orange;
}

#header-section{
    margin-top: -1in;
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    
}

#header-title{
    font-size: 50px;
    font-weight: bold;
}



#header-description{
    font-size: 15px;
}

#contact-us-section{
    padding-top:80px;
    background-color: skyblue;
    padding-bottom: 30px;
}

#header-section::before{
    z-index: -1;
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('images/header.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: 20%;
}

#loading-screen{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
}

#spinner{
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-color: white;
    border-bottom-color: blue;
    border-left-color: blue;
    border-right-color: blue;
    border-style: solid;
    border-radius: 50%;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: .9s;
}

#navbar{
    transition-duration: .3s;
}

.card{
    transition-duration: .2s;
}
.card:hover{
    box-shadow: 5px 5px 10px black;
    transform: translate(-10px, -10px)
}

.blue-button{
    background-color: darkblue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    transition-duration: 0.2s;
    text-decoration: none;
}

.blue-button:hover{
    background-color: blue;
    color:white;
    transform: scale(1.06);
}

#veterinarians-section{
    background-color: lightcyan;
    padding-bottom: 30px;
}
.paw-image{
    width: 20px; 
    height: auto;
}
*{
    margin: 0px;
    font-family: sans-serif;
}
.section-title{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-top: 50px;
}

.offcanvas-navigation{
    list-style-type: none;
}
.offcanvas-link{
    color: black;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 5px;
    opacity: 50%;
}

.offcanvas-item{
    padding-top:10px;
    padding-bottom:10px;
}

.footer-navigation{
    list-style-type: none;
}
.footer-link{
    text-decoration: none;
    color: white;
    opacity: 50%;
}
.footer-link:hover{
    color:white;
    opacity: 100%;
}

.footer-item{
    padding-top:5px;
    padding-bottom: 5px;
}

@media (min-width: 768px){
    #header-title{
        font-size: 100px;
    }
    #header-description{
        font-size: 25px;
    }
    .section-title{
        font-size: 40px;
    }
    .paw-image{
        width: 40px;
        height: auto;
    }
}
#faqs-section{
    background-color: white;
    padding-bottom: 30px;
}
#about-us-section{
    background-color: lightblue;
    padding-bottom: 80px;
}

#about-us-info{
    margin-top: 80px;
}

#about-us-image{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    transition-duration: 0.2s;
}

#about-us-image:hover{
    box-shadow: 5px 5px 10px black;
}

#footer-section{
    padding-top: 120px;
    padding-bottom: 200px;
    background-color: #343434;
    color: white;
    font-weight: lighter
}

.offcanvas-link:hover{
    opacity: 100%;
}