.nav-font{
    font-family: sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    font-weight: bold;
}

.navigation-link{
    border-bottom: 2px solid transparent;
}
.navigation-link:hover{
    color: orange;
    border-bottom: 2px solid orange;
}

#header-section{
    margin-top: -1in;
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    
}

#header-title{
    font-size: 50px;
    font-weight: bold;
}

#header-description{
    font-size: 15px;
}



#header-section::before{
    z-index: -1;
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('images/header.jpg');
    background-position: center;
    background-size: cover;
    opacity: 20%;
}

#navbar{
    transition-duration: .3s;
}

.blue-button{
    background-color: darkblue;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
    transition-duration: 0.2s;
}

.blue-button:hover{
    background-color: blue;
}

#veterinarians-section{
    background-color: lightcyan;
    padding-bottom: 30px;
}

*{
    margin: 0px;
    font-family: sans-serif;
}
.section-title{
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

.offcanvas-navigation{
    list-style-type: none;
}
.offcanvas-link{
    color: black;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 5px;
    opacity: 50%;
}

.offcanvas-item{
    padding-top:10px;
    padding-bottom:10px;
}

.footer-navigation{
    list-style-type: none;
}
.footer-link{
    text-decoration: none;
    color: white;
    opacity: 50%;
}

.footer-item{
    padding-top:5px;
    padding-bottom: 5px;
}

@media (min-width: 768px){
    #header-title{
        font-size: 100px;
    }
    #header-description{
        font-size: 25px;
    }
}

#about-us-section{
    background-color: lightblue;
    padding-bottom: 80px;
}

#about-us-info{
    margin-top: 80px;
}

#about-us-image{
    transition-duration: 0.2s;
}

#about-us-image:hover{
    box-shadow: 5px 5px 10px black;
}

#footer-section{
    padding-top: 120px;
    padding-bottom: 200px;
    background-color: #343434;
    color: white;
    font-weight: lighter
}

.offcanvas-link:hover{
    opacity: 100%;
}