#log-in{
    transition-duration: 0.4s;
    border-radius: 50px;
    color: white;
    background-color: darkblue;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

#log-in:hover{
    background-color: blue  ;
}

#bg{
    background-color: hsl(0, 2%, 88%);
}

.form-control{
    border-width: 2px;
}

#insert-medical-record{
    background-color: tomato;
    color: white;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
#table-card{
    border-width: 2px;
    border-color: hsl(0, 0%, 72%);
}
@media(min-width: 768px){
    #insert-medical-record{
        width: 30%
    }
    #searchbar{
        width: 30%
    }
}

#record-modal{
    background-color: hsl(0, 0%, 72%);
}

#logo{
    height: 50px;
}

#bg::before{
    content: '';
    height: 120px;
    display: block;
}